.active{
    background-color: #9D5CFD ;
    color: white;
    font-weight: bold;
    padding:0 15px;
}

li{
    padding: 5px;
    border-radius: 4px;
}
li:hover{
    background-color:#FF7EB5;
    color: white;
}